/* New Mobile Style */

@media only screen and (max-width: 925px) {

	.top-bar {
		border-bottom: 2px solid grey;
	}

	#menu-icon {
		display: block;
		border-bottom: 2px solid grey;
	}

	.page-links {
		margin-top: 60px;
		width: 100%;
		display: none;
	}
	.page-links li {
		display: block;
	}
	.social-links {
		width: 100%;
		display: none;
	}

	.sdq-menu {
		display: block;
		margin: auto;
		position: relative;
		top: 0px;
	}

}
